.ucc-modal-container {
    position: relative;
}

.ucc-modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.ucc-modal-container--open .ucc-modal-background {
    display: block;
}

.ucc-modal {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    height: 100%;
    flex-direction: column;
    background-color: white;
    transform: translateX(100%);
    transition: transform 0.2s;
}
.ucc-modal-container--open .ucc-modal {
    transform: translateX(0);
}

.ucc-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.ucc-modal-title {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.ucc-modal-close {
    cursor: pointer;
}

.ucc-modal-body {
    flex: 1;
    overflow-y: auto;
}

.ucc-modal-footer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-top: 1px solid #ddd;
}

.ucc-cart-item {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.ucc-cart-item__image {
    margin-right: 20px;
}

.ucc-cart-item__image img {
    width: 75px;
    height: 75px;
    max-width: none;
    max-height: none;
    object-fit: cover;
    border: solid 1px #ddd;
    border-radius: 5px;
}

.ucc-cart-item__body {
    flex: 1;
}

.ucc-cart-item__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 5px;
}

.ucc-cart-item__delete {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #eee;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    transition: background-color 0.2s;
}

.ucc-cart-item__delete:hover {
    background-color: #ffc9c9;
}

.ucc-cart-item__foot {
    margin-top: 20px;
}

.ucc-cart-item__quantity {
    width: 75px;
    padding: 5px;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.ucc-cart-item__attribute {
    font-size: 14px;
    color: #666;
}

.ucc-cart-item__attribute-key:after {
    content: ':';
}

.ucc-cart-item__attribute-value {
    font-weight: 600;
}

.ucc-cart-item__price {
    font-weight: bold;
    font-size: 20px;
}

.ucc-cart-totals {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.ucc-cart-total {
    margin-bottom: 5px;
}

.ucc-cart-total--total {
    font-weight: bold;
}

.ucc-cart-checkout {
    cursor: pointer;
    display: block;
    font-weight: 600;
    background-color: #4fd1c5;
    padding: 10px 20px;
    text-align: center;
    border-radius: 3px;
}

.ucc-split {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.ucc-split--center {
    align-items: center;
}