:root {
    
    /* Colors */
    --ucc-primary-color: #155dfc;
    --ucc-primary-color-light: #51a2ff;
    --ucc-primary-color-dark: #193cb8;
    
    --ucc-danger-text-color: #9f0712;
    --ucc-danger-background-color: #ffc9c9;

    /* Font */
    --ucc-font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', sans-serif;
    
    /* Text */
    --ucc-text-color: #364153;
    --ucc-text-color-light: #99a1af;
    --ucc-text-color-lighter: #c1c7d0;
    --ucc-text-color-dark: #101828;

    --ucc-text-lg: 20px;
    --ucc-text-md: 16px;
    --ucc-text-sm: 14px;
    
    /* Borders */
    --ucc-border-color: #ddd;
    --ucc-border-radius: 5px;
    
    /* Components */
    --ucc-button-background-color: var(--ucc-primary-color);
    --ucc-button-text-color: #fff;
    --ucc-button-background-color-hover: var(--ucc-primary-color-dark);
    --ucc-button-text-color-hover: #fff;
    --ucc-button-background-color-disabled: #d1d5dc;
    --ucc-button-text-color-disabled: #fff;
    
    --ucc-modal-width: 550px;
    --ucc-modal-background-color: #fff;
    --ucc-modal-overlay-color: rgba(0, 0, 0, 0.5);
    
}

.ucc-modal-container {
    position: relative;
}

.ucc-modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--ucc-modal-overlay-color);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s ease-in-out, visibility 0.25s;
}

@media (min-width: 768px) {
    
    .ucc-modal-container--open .ucc-modal-background {
        opacity: 1;
        visibility: visible;
    }
    
    .ucc-modal-container:not(.ucc-modal-container--open)  .ucc-modal-background {
        transition: opacity 0.25s ease-in-out, visibility 0s 0.25s;
    }
    
}

.ucc-modal {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: var(--ucc-modal-background-color);
    transform: translateX(100%);
    transition: transform 0.2s;
}
.ucc-modal-container--open .ucc-modal {
    transform: translateX(0);
}

@media (min-width: 768px) {
    .ucc-modal {
        width: var(--ucc-modal-width);
        border-left: solid 1px var(--ucc-border-color);
    }
}

.ucc-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid var(--ucc-border-color);
}

.ucc-modal-title {
    font-family: var(--ucc-font-family), sans-serif;
    font-size: var(--ucc-text-lg);
    font-weight: 600;
    color: var(--ucc-text-color-dark);
    margin: 0;
}

.ucc-modal-close {
    cursor: pointer;
    color: var(--ucc-text-color-dark);
    transition: color 0.2s;
}

.ucc-modal-close:hover {
    color: var(--ucc-text-color-light);
}

.ucc-modal-body {
    flex: 1;
    overflow-y: auto;
    margin-bottom: -1px;
}

.ucc-modal-footer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-top: 1px solid var(--ucc-border-color);
}

.ucc-cart-item {
    font-family: var(--ucc-font-family), sans-serif;
    display: flex;
    padding: 20px;
    border-bottom: 1px solid var(--ucc-border-color);
}

.ucc-cart-item__image {
    margin-right: 20px;
}

.ucc-cart-item__image img {
    width: 50px;
    height: 50px;
    max-width: none;
    max-height: none;
    object-fit: cover;
    border: solid 1px var(--ucc-border-color);
    border-radius: var(--ucc-border-radius);
}

@media (min-width: 768px) {
    .ucc-cart-item__image img {
        width: 75px;
        height: 75px;
    }
}

.ucc-cart-item__body {
    flex: 1;
}

.ucc-cart-item__title {
    flex: 1;
    font-family: var(--ucc-font-family), sans-serif;
    font-weight: 600;
    font-size: var(--ucc-text-md);
    color: var(--ucc-text-color);
    line-height: 1.2;
    margin-bottom: 5px;
}

.ucc-cart-item__remove {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--ucc-text-color-light);
    background-color: transparent;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s;
}

.ucc-cart-item__remove:hover {
    color: var(--ucc-danger-text-color);
    background-color: var(--ucc-danger-background-color);
}

.ucc-cart-item__foot {
    margin-top: 20px;
}

.ucc-cart-item__quantity {
    width: 75px;
    padding: 5px;
    text-align: left;
    border: 1px solid var(--ucc-border-color);
    border-radius: var(--ucc-border-radius);
}

.ucc-cart-item__attribute,
.ucc-cart-item__property {
    font-size: var(--ucc-text-sm);
    color: var(--ucc-text-color-light);
}

.ucc-cart-item__attribute-key,
.ucc-cart-item__property-key {
    font-weight: 600;
}

.ucc-cart-item__attribute-key:after,
.ucc-cart-item__property-key:after {
    content: ':';
}

.ucc-cart-item__bundle {
    display: table;
    width: 100%;
    margin-top: 20px;
}

.ucc-cart-item__bundle-item {
    display: table-row;
    font-family: var(--ucc-font-family), sans-serif;
    font-size: var(--ucc-text-sm);
    color: var(--ucc-text-color-light);
    text-align: right;
    padding: 10px 0;
}

.ucc-cart-item__bundle-item > * {
    display: table-cell;
    padding: 10px;
    border-top: 1px solid var(--ucc-border-color);
}

.ucc-cart-item__bundle-item > *:first-child {
    text-align: left;
    width: 100%;
    padding-left: 0;
}

.ucc-cart-item__bundle-item > *:last-child {
    padding-right: 0;
}

.ucc-cart-item__price {
    color: var(--ucc-text-color-dark);
    font-weight: bold;
    font-size: var(--ucc-text-lg);
}

.ucc-cart-totals {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.ucc-cart-totals.ucc-cart-totals--inc-tax {
    flex-direction: column-reverse;
}

.ucc-cart-totals.ucc-cart-totals--inc-tax .ucc-cart-total--subtotal {
    display: none;
}

.ucc-cart-total {
    font-size: var(--ucc-text-md);
    color: var(--ucc-text-color);
    margin-bottom: 5px;
}

.ucc-cart-total--total {
    font-weight: bold;
}

.ucc-cart-message {
    font-family: var(--ucc-font-family), sans-serif;
    font-size: var(--ucc-text-md);
    color: var(--ucc-text-color-light);
    margin-bottom: 10px;
    text-align: center;
    font-style: italic;
}

.ucc-cart-checkout {
    cursor: pointer;
    display: block;
    font-family: var(--ucc-font-family), sans-serif;
    font-weight: 600;
    font-size: var(--ucc-text-md);
    background-color: var(--ucc-button-background-color);
    color: var(--ucc-button-text-color);
    padding: 10px 20px;
    text-align: center;
    border-radius: var(--ucc-border-radius);
    transition: background-color 0.2s, color 0.2s;
}

.ucc-cart-checkout:hover {
    background-color: var(--ucc-button-background-color-hover);
    color: var(--ucc-button-text-color-hover);
}

.ucc-cart-checkout--disabled,
.ucc-cart-checkout--disabled:hover {
    cursor: not-allowed;
    background-color: var(--ucc-button-background-color-disabled);
    color: var(--ucc-button-text-color-disabled);
}

.ucc-cart-empty {
    font-family: var(--ucc-font-family), sans-serif;
    font-size: var(--ucc-text-lg);
    font-weight: 600;
    color: var(--ucc-text-color-lighter);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.ucc-cart-empty svg {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.ucc-split {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.ucc-split--center {
    align-items: center;
}

.ucc-split__item--fill {
    flex: 1;
}